.btn {
  color: var(--color-dark--0);
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-size: 5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Bellefair", serif;
}
.home-btn {
  position: fixed;
  height: 220px;
  width: 220px;
  font-size: 2.6rem;
  letter-spacing: 0.5rem;
  transform: scale(0.8) translate(469%, 40%);
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
