/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bellefair&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400";
/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--0: #ffff;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  color: var(--color-light--3);
  /* font-weight: 300; */
  line-height: 1;
  overflow: auto;
}
